body{
    background-image: url("images/fond.jpg");
    max-width: 80%;
    margin: auto;
    padding: 1em;
    background-attachment: fixed;
}
#nom{
    text-align: center;
    color: rgb(13, 27, 19);

}
#title_1{
    color: rgb(11, 70, 42);
    text-align: center;
    font-size: 1.5em;
    
}
#my_pic{
    width: 10rem;
    border-radius: 60px;
    /* display: flex; */
    /* position: relative; */
    /* bottom: 80px; */
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    float: left;

}
.block{
    background-color: rgba(211, 211, 211, 0.267);
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px 5px;
}
span{
    color: rgb(4, 70, 42);
    font-weight: bold;
}
li{
    list-style-image: url("images/favicon-16x16-removebg-preview.png") ;
}

.clearer{
    clear:both;
}